{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["."],
        "extensions": [".js", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-var-requires": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off"
  }
}
